<?xml version="1.0"?>
<appSettings>
  <add key="CRMApiSecretKey" value="f98y119k107i99a107k118j110g99" />
  <add key="NCApiSecretKey" value="f98y119k107i99a107k118j110g99" />
  <add key ="StoreId" value="1" />
  
  <add key="UpdateProductURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateProductPublish" />
  <add key="UpSertCustomerURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpsertCustomer" />
  <add key="CreateBlackoutCalendarURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendar" />
  <add key="UpdateBlackoutCalendarURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateBlackoutCalendar" />
  <add key="CreateBlackoutCalendarDetailURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendarDetail" />
  <add key="UpdateBlackoutCalendarDetailURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateBlackoutCalendarDetail" />
  <add key="DeleteBlackoutCalendarDetailURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/DeleteBlackoutCalendarDetail" />
  <add key="CreateBlackoutCalendarProductMappingURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendarProductMapping" />
  <add key="DeleteBlackoutCalendarProductMappingURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/DeleteBlackoutCalendarProductMapping" />
  <add key="AddNewsletterSubscriptionURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/SubscribeNewsletter" />
  <add key="UpdateNewsletterSubscriptionURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateSubscription" />
  <add key="AdjustRMEventStockQuantityURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/AdjustRMEventStockQuantity" />
  <add key="UpdateRMEventStockActiveURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateRMEventStockActive" />
  <add key="PriceCalendarEditURL" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/PriceCalendarEdit" />
  <add key="UpdateProductDesc" value="http://onestoreuat.wrs.com.sg/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateProductDescription" />

  <!--
  <add key="UpdateProductURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateProductPublish" />
  <add key="UpSertCustomerURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpsertCustomer" />
  <add key="CreateBlackoutCalendarURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendar" />
  <add key="UpdateBlackoutCalendarURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateBlackoutCalendar" />
  <add key="CreateBlackoutCalendarDetailURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendarDetail" />
  <add key="UpdateBlackoutCalendarDetailURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateBlackoutCalendarDetail" />
  <add key="DeleteBlackoutCalendarDetailURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/DeleteBlackoutCalendarDetail" />
  <add key="CreateBlackoutCalendarProductMappingURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendarProductMapping" />
  <add key="DeleteBlackoutCalendarProductMappingURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/DeleteBlackoutCalendarProductMapping" />
  <add key="UpdateNewsletterSubscriptionURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/SubscribeNewsletter" />
  <add key="AdjustRMEventStockQuantityURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/AdjustRMEventStockQuantity" />
  <add key="UpdateRMEventStockActiveURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateRMEventStockActive" />
  <add key="PriceCalendarEditURL" value="http://tkt-webuat2/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/PriceCalendarEdit" />
-->

  <!--<add key="UpdateProductURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateProductPublish" />
  <add key="UpSertCustomerURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpsertCustomer" />
  <add key="CreateBlackoutCalendarURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendar" />
  <add key="UpdateBlackoutCalendarURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateBlackoutCalendar" />
  <add key="CreateBlackoutCalendarDetailURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendarDetail" />
  <add key="UpdateBlackoutCalendarDetailURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateBlackoutCalendarDetail" />
  <add key="DeleteBlackoutCalendarDetailURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/DeleteBlackoutCalendarDetail" />
  <add key="CreateBlackoutCalendarProductMappingURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/CreateBlackoutCalendarProductMapping" />
  <add key="DeleteBlackoutCalendarProductMappingURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/DeleteBlackoutCalendarProductMapping" />
  <add key="AddNewsletterSubscriptionURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/SubscribeNewsletter" />
  <add key="UpdateNewsletterSubscriptionURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateSubscription" />
  <add key="AdjustRMEventStockQuantityURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/AdjustRMEventStockQuantity" />
  <add key="UpdateRMEventStockActiveURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateRMEventStockActive" />
  <add key="PriceCalendarEditURL" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/PriceCalendarEdit" />
<add key="UpdateProductDesc" value="http://10.1.1.111:8888/Plugins/XcellenceIt.Plugin.Misc.NopRestApi/RemoteService/WebService.svc/UpdateProductDescription" />-->
</appSettings>
