<?xml version="1.0"?>
<connectionStrings>
  <add name="WRSDB.ConnectionString" connectionString="Initial Catalog=LID_Service_DEV;Data Source=.;User Id=LIDUser;Password=pass@word1" providerName="System.Data.SqlClient" />
  <add name="Xrm" connectionString="AuthType=Office365;Url=https://wrsdev.crm5.dynamics.com; Username=ncs@wrs.com.sg; Password=c6aY=huk;" />
</connectionStrings>