<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="Xrm" connectionString="AuthType=Office365;Url=https://wrsdev.crm5.dynamics.com; Username=acc.crm@wrs.com.sg; Password=5Si30a^Lh@;" />-->
  <add name="Xrm" connectionString="AuthType=Office365;Url=https://wrsuat.crm5.dynamics.com; Username=acc.crm@wrs.com.sg; Password=5Si30a^Lh@;" />
  <!--<add name="Xrm" connectionString="AuthType=Office365;Url=https://wrs.crm5.dynamics.com; Username=acc.crm@wrs.com.sg; Password=5Si30a^Lh@;" />-->
  <!--<add name="WRSDB.ConnectionString" connectionString="Initial Catalog=LID_Service_DEV;Data Source=.;User Id=LIDUser;Password=pass@word1;" providerName="System.Data.SqlClient" />-->
  <add name="WRSDB.ConnectionString" connectionString="Initial Catalog=WRS_CRMLogDB;Data Source=.;User Id=sa;Password=pass@word1" providerName="System.Data.SqlClient" />
</connectionStrings>