<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--DEV-->
    <!--<add name="CRMD" connectionString="AuthType=Office365;Username=ncs@wrs.com.sg; Password=c6aY=huk;Url=https://wrsdev.crm5.dynamics.com/"/>-->

    <!--UAT-->
    <add name="CRMD" connectionString="AuthType=Office365;Username=acc.crm@wrs.com.sg; Password=5Si30a^Lh@;Url=https://wrsuat.crm5.dynamics.com/"/>
    <add name="SQL_CONNECTION_STRING" connectionString="Data Source=10.1.0.170;Initial Catalog=OneStore_CRMLog;User Id=crmuser;Password=CrmAdmin123"/>
    <add name="SQLErrorLog" connectionString="Data Source=10.1.0.170;Initial Catalog=OneStore_CRMLog;User Id=crmuser;Password=CrmAdmin123"/>

    <!--PROD-->
    <!--<add name="CRMD" connectionString="AuthType=Office365;Username=acc.crm@wrs.com.sg; Password=5Si30a^Lh@;Url=https://wrs.crm5.dynamics.com/"/>
    <add name="SQL_CONNECTION_STRING" connectionString="Data Source=10.1.0.242;Initial Catalog=OneStore_CRMLog;User Id=crmuser;Password=CrmAdmin123"/>-->
  </connectionStrings>
  <appSettings>
    <!--<add key="EnvStructure" value="4"/>-->
  </appSettings>
</configuration>
